.portfolio{
  background-image: url('./Components/background_image.jpg');
  background-repeat: no-repeat;
  border-top: 2px solid #fbfbfd;
  height: 100vh;
  background-size: cover;
  text-align: center;
}

 
 
 